########################################
# Gradle
########################################
# Gradle 빌드 산출물
/build/
.gradle/

# Gradle Wrapper JAR은 꼭 올려야 하므로 무시하지 않음
#gradle-wrapper.jar는 저장소에 있어야 함
!gradle/wrapper/gradle-wrapper.jar

########################################
# Maven
########################################
/target/

########################################
# IntelliJ IDEA
########################################
# IntelliJ 프로젝트 설정 폴더 무시 (루트 및 서브모듈 포함)
.idea/
# IntelliJ 모듈 파일 무시
*.iml
# IntelliJ 빌드 산출물 무시
out/

########################################
# OS 생성 파일
########################################
# macOS
.DS_Store
# Windows
Thumbs.db

########################################
# Logs & Temp Files
########################################
/logs/
*.log
*.tmp

########################################
# 환경 변수 & 비밀 키
########################################
.env
